* {
    font-family: "Basic Sans", sans-serif;
}

body {
    background-color: #ECECEC;
    color: #302F83;
}

a:link {
    color: #85C985;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #85C985;
}

/*common classes to toggle*/
.hideClass {
    display: none;
}

.positionFixed {
    position: fixed;
}


/*nav bar*/
.navIcons {
    display: flex;
    justify-content: space-between;
}

.hamMenu {
    position: fixed;
    top: 0px;
    background-color: #302F83;
    height: 100%;
    width: 100vw;
    z-index: 4;
}

.menuSites {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    position: fixed;
    top: 30vh;
}

.menuSites > li {
    list-style-type: none;
    font-size: 70px;
    margin-bottom: 30px;
}

.navMenu {
    width: 50px;
    z-index: 5;
    cursor: pointer;
}

.navLogo {
    width: 50px;
}

.navCart {
    width: 50px;
    cursor: pointer;
}

/*footer*/
.footerInsta {
    width: 50px;
    float: right;
    position: relative;
    top: 150px;
    margin-right: 10px;
}

.footerBlob {
    width: 100%;
    margin: 0px;
    z-index: -1;
}

/*home page*/
.homeHeaderImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: -3;
    position: relative;
    top: -200px;
    left: 0px;
    object-position: 0px -500px;
}

.homeCollectionsAll {
    position: relative;
    top: -120px;
    display: flex;
    justify-content: space-around;
    color: #302F83;
    font-size: 28px;
}


.homeCollections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeCollection1Image {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.homeCollection2Image {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.homeInsta {
    position: relative;
    top: -20px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.brackets {
    font-size: 55px;
}

/*earrings page*/
.earringTitle {
    font-size: 30px;
    margin-left: 35px;
}

.earringCollectionText {
    text-align: right;
}

.earringCollectionText > h2 {
    font-size: 45px;
    margin: 10px;
}

.earringCollectionText > p {
    float: right;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
    width: 600px;
}

.earringImgCollection1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

}

.earringImgCollection2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.earringImgGrid {
    width: 270px;
    height: 360px;
    background-color: grey;
}

.earringImgEarrings {
    width: 270px;
    height: 360px;
    z-index: 1;
    object-fit: cover;
}

.earringGridInfo {
    position: relative;
    top: -120px;
    margin-left: 5px;
    z-index: 2;
}

.earringGridInfo > h4 {
    font-size: 20px;
    margin-bottom: 10px;
    height: 35px;
    color: #302F83;
}


a.productLinkGrid {
    color: #302F83;
    text-decoration: none;
}

a.productLinkGrid:hover {
    color: #302F83;
    text-decoration: underline;
}

.earringGridInfo > h5 {
    position: absolute;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
}


/*product pages*/
.navCrumbs {
    margin-left: 25px;
}

.productTitle {
    font-size: 25px;
    margin-left: 25px;
}

.productAll {
    display: flex;
}

.productImgAll {
    width: 270px;
    height: 360px;
    margin-left: 45px;
    object-fit: cover;
    background-color: grey;
}

.productInfoAll {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: 30px;
}

.productCostAll > p {
    font-size: 25px;
    margin-top: 0px;
}

.productAddCart {
    background-color: #F7D0D0;
    border: solid 2px;
    color: #302F83;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.productDescriptionAll > h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.productDescriptionAll > p {
    font-size: 18px;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    body {
/*        background-color: pink;*/
    }

    /*footer*/
    .footerInsta {
        top: 115px;
    }

    /*home page*/
    .homeHeaderImage {
        width: 100%;
        object-position: 0px -250px;
    }

    .homeCollectionsAll {
        font-size: 20px;
    }

    .homeCollection1Image {
        width: 350px;
        height: 350px;
    }

    .homeCollection2Image {
        width: 350px;
        height: 350px;
    }

    .homeInsta {
        font-size: 20px;
    }

    .brackets {
        font-size: 45px;
    }

    /*earrings page*/
    .earringImgGrid {
        width: 160px;
        height: 220px;
    }

    .earringImgEarrings {
        width: 160px;
        height: 220px;
    }

    .earringGridInfo {
        top: -110px;
    }

    .earringGridInfo > h4 {
        font-size: 18px;
    }

    /*    product page*/
    .productInfoAll {
        display: flex;
        flex-direction: column;
        width: 450px;
        margin-left: 30px;
    }

}

@media screen and (max-width: 400px) {
    body {
/*        background-color: skyblue;*/
    }

    /*nav bar*/
    .hamMenu {
        position: fixed;
        top: 0px;
        background-color: #302F83;
        height: 100%;
        width: 100vw;
        z-index: 4;
    }

    .menuSites {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        position: fixed;
        top: 30vh;
    }

    .menuSites > li {
        list-style-type: none;
        font-size: 70px;
        margin-bottom: 30px;
    }

    /*footer*/
    .footerInsta {
        top: 120px;
    }

    .footerBlob {
        height: 150px;
        object-fit: cover;
        object-position: -600px 0px;
    }


    /*home page*/
    .homeHeaderImage {
        height: 500px;
        object-position: -90px 0px;
    }

    .homeCollectionsAll {
        position: relative;
        top: -150px;
        flex-direction: column;
        font-size: 18px;
        text-align: center;
    }

    .homeCollection1Image {
        width: 200px;
        height: 200px;
    }

    .homeCollection2Image {
        width: 200px;
        height: 200px;
    }

    .homeInsta {
        position: relative;
        top: -40px;
        text-align: center;
        font-size: 18px;
    }

    .brackets {
        font-size: 32px;
    }

    /*earrings page*/
    .earringTitle {
        margin-left: 0px;
    }

    .earringCollectionText > h2 {
        font-size: 35px;
        margin: 10px;
    }

    .earringCollectionText > p {
        font-size: 18px;
        width: 330px;
    }

    .earringImgCollection1 {
        height: 650px;
        flex-wrap: wrap;

    }

    .earringImgCollection2 {
        height: 650px;
        flex-wrap: wrap;
    }

    .earringImgGrid {
        width: 130px;
        height: 180px;
    }

    .earringImgEarrings {
        width: 130px;
        height: 180px;
    }

    .earringGridInfo {
        top: -30px;
        margin-left: 0px;
    }

    .earringGridInfo > h4 {
        font-size: 18px;
        height: 65px;
    }


    .earringGridInfo > h5 {
        font-size: 18px;
    }

    /*product pages*/
    .navCrumbs {
        font-size: 20px;
        margin-left: 0px;
        width: 300px;
    }

    .productTitle {
        font-size: 22px;
        margin-left: 0px;
    }

    .productAll {
        display: flex;
        flex-direction: column;
    }

    .productImgAll {
        width: 240px;
        height: 320px;
        margin-left: 0px;
    }

    .productImg0 {
        display: flex;
        justify-content: center;
    }

    .productImg1 {
        display: flex;
        justify-content: center;
    }

    .productImg2 {
        display: flex;
        justify-content: center;
    }

    .productImg3 {
        display: flex;
        justify-content: center;
    }

    .productImg4 {
        display: flex;
        justify-content: center;
    }

    .productInfoAll {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }

    .product400 {
        display: flex;
        justify-content: space-around;
    }

    .productCostAll > p {
        font-size: 25px;
        margin-top: 0px;
    }


    .productDescriptionAll > p {
        font-size: 18px;
        margin-top: 10px;
        width: 330px;
    }

}
